*{
	box-sizing:border-box;
	margin: 0px;
	padding: 0px;
}
h1{
	font-size: 40px;
	margin-bottom: 0px;
}
p{
	color: #666666;
	font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
h4{
	font-size: 18px;
}
a{
	font-family: 'Roboto', sans-serif;
}
hr{
	max-width: 100%;
  opacity: 0.5;
  margin: 70px 0px;
}

.top-bar{
	background-color: unset;
}
.top-bar ul{
	background-color: unset;
}
.logo-container .logo{
		max-height: 30px
}
.navbar-container{
	display: flex;
	
}
.header-menu{
	font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  
}
.header-menu a{
	color: #666666;
}

.button{
	margin-bottom: 0px;
  color: #5c6ac4;
  background-color: rgba(92,106,196,.1);
  border-color: transparent;
  border-radius: 25px;
  padding: 13px;
  height: 43px;
  width: 170px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}


.main-banner{
	padding-top: 50px;
}
.main-heading-container .main-heading .heading{
	margin-bottom: 0px;
}

.main-heading h1{
	font-size: 60px;
}
.main-heading-container p{
	margin-bottom: 40px;
	font-size: 20px;
	padding-right: 25px;
}
.main-heading-container .main-heading-btn{
	margin-bottom: 30px;
}
.main-heading-clients li{
	padding-right: 30px;
}
.webify-left-container .webify-service-container .service-block{
	padding: 40px 30px 35px;
	border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 30px;
}
.service-block-heading{
	margin-top: 20px;
}

.block-1:hover{
	background-color: #5752d0;
	color: #ffffff;
}
.block-1:hover p{
	color: #FFFFFF;
}
.block-1:hover .weekend-icon{
	color: #FFFFFF;

}
.block-2:hover{
	background-color: #de3618;
	color: #ffffff;
}
.block-2:hover p{
	color: #FFFFFF;
}
.block-2:hover .watch-icon{
	color: #FFFFFF;

}

.block-3:hover{
	background-color: #9c6ade;
	color: #ffffff;
}
.block-3:hover p{
	color: #FFFFFF;
}
.block-3:hover .timer-icon{
	color: #FFFFFF;

}
.block-4:hover{
	background-color: #47c1bf;
	color: #ffffff;
}
.block-4:hover p{
	color: #FFFFFF;
}
.block-4:hover .pizza-icon{
	color: #FFFFFF;

}
.webify-heading{
	padding-left: 30px;
}
.webify-heading p{
	font-size: 16px;
	margin-bottom: 30px;
}
.service-block-content{
	font-size: 14px;
}
.weekend-icon{
  padding: 12px;
  border-radius: 50px;
  background-color: rgba(87,82,208,.1);
  color: #5752d0;
  width: 48px;
  height: 48px;
}
.watch-icon{
	background: rgba(222,54,24,.1);
  color: #de3618;
  padding: 12px;
  border-radius: 50px;
  width: 48px;
  height: 48px;
}
.timer-icon{
	background: rgba(156,106,222,.1);
  color: #9c6ade;
  padding: 12px;
  border-radius: 50px;
  width: 48px;
  height: 48px;
}
.pizza-icon{
	background: rgba(71,193,191,.1);
  color: #47c1bf;
  padding: 12px;
  border-radius: 50px;
  width: 48px;
  height: 48px;
}

.wireframe{
		margin-top: 50px;
}
.wireframe-heading p{
	font-size: 18px;
}
.wireframe .wireframe-container{
	width: 100%;
}
.wireframe .wireframe-container .wireframe-heading{
	text-align: center;
}

.product .product-container .product-heading{
	margin-bottom: 40px;	
}
.product-heading p{
	font-size: 18px;
}

.product-content{
	padding-left: 30px;
}
.product-video-container iframe{
	width: 100%;
}
.mall-icon{
	color: #007ace;
 	background-color: rgba(0,122,206,.1);
  padding: 12px;
  border-radius: 50px;
  width: 48px;
  height: 48px;
}
.layers-icon{
	color: #50b83c;
 	background: rgba(80,184,60,.1);
  padding: 12px;
  border-radius: 50px;
  width: 48px;
  height: 48px;
}
.our-work-wrapper{
	border: 1px solid lightgray;
  border-radius: 5px;
}
.our-work-heading p{
	font-size: 18px;
}
.left-wrapper{
	padding: 40px 40px 0px 40px;
}
.client-logo-1{
	width: 25%;
  margin-bottom: 20px;
}
.left-wrapper-content{
	margin-bottom: 35px;
}
.left-wrapper-content p{
	font-size: 18px;
  
}
.client-container{
	margin-top: 60px;
}
.client-sign{
	width: 25%;
}
.client-details h5{
	font-size: 18px;
  margin-bottom: 0px;
  margin-top: 5px;
}
.client-details p{
	font-size: 13px;
}
.client-logo-2{
	width: 15%;
	margin-bottom: 20px;
}
.brand-menu a{
	font-size: 15px;
	color: #666666;
	font-weight: 300;
}
.brand-wrapper img{
	width: 100%;
}
.brand-left-wrapper {
	padding:0px 15px;
}
.left-wrapper-block-1{
	margin-bottom: 30px;
}
.brand-logo-1{
	height: 250px;
}
.left-wrapper-block-2{
	margin-bottom: 30px;
}
.brand-logo-2{
	height: 350px;
}
.brand-middle-wrapper{
	padding:0px 15px;
}
.middle-wrapper-block-1{
	margin-bottom: 30px;
}
.middle-wrapper-block-2{
	margin-bottom: 30px;
}
.brand-logo-3{
	height: 350px;
}
.brand-logo-4{
	height: 250px;
}
.brand-right-wrapper{
	padding: 0px 15px;
}
.right-wrapper-block-1{
	margin-bottom: 30px;
}
.right-wrapper-block-2{
	margin-bottom: 30px;
}
.brand-logo-5{
	height: 250px;
	width: 100%;
}
.brand-logo-6{
	height: 350px;
}
.expert-heading{
	padding-left: 40px;
}
 .slick-prev::before {
	content: "<"!important;
    background-color: #ebebec !important;
    font-size: 30px !important;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    left: 48px;
    top: 0px;
    color: white;
    color: red !important;
}
 .slick-next::before {
content: ">"!important;
    background-color: #ebebec !important;
    font-size: 30px !important;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    right: 48px;
    top: 0px;
    color: white;
    color: red !important;
}
.funfact-item-wrapper{
	padding:0px 15px;
}
.funfact-item{
	border:1px solid lightgray;
	border-radius: 5px;
	padding: 40px 30px 35px;
}
.funfact-content h1{
	font-size: 60px;
}
.funfact-content p{
	font-size: 16px;
}
.lifestyle{
	font-size: 14px;
  color: #6673c7;
}
.our-blog-itme{
	border-radius: 5px;
}
.our-blog-content h3{
	font-size: 18px;
  color: #222222;
}
.our-blog-content p{
	font-size: 14px;
}
.blog-author span{
	line-height: 10px;
  font-size: 60px;
  color: #6666;
}
.newsteller{
	background-color: #7A77D0;
}
.newsteller-heading h1{
	color: #ffffff;
}
.newsteller-heading p{
		    color: rgba(255,255,255,.7);
}
.newsteller-img{
	padding-top: 60px;
}
.empty-space{
	height: 100px;
}
.newsteller-input{
	    border: 1px solid #eaeaea;
    height: 40px;
    padding: 8px 15px;
        border-radius: 4px 0px 0px 4px;
    color: #666;
    display: block;
    font-weight: 300;
    font-size: 14px;
    width: 40%;
}
.form-input{
	display: flex;
} 
.newsteller-btn{
		height: 100%;
    border: none;
    line-height: 40px;
    padding: 0 2.1em;
    border-radius: 0 4px 4px 0;
    font-weight: 500;
    color: #fff !important;
    font-size: 15px;
    cursor: pointer;
    background-color: #50b83c !important;
    width: 42%;
}
.page-footer{
	background-color: #111111;
}
.footer-left-heading h2{
	font-size: 18px;	
	color: rgba(255,255,255,.6);
}
.footer-right-heading .button{
	    background-color: #fff;
    color: #222;
}
.footer-left-heading{
	padding-top: 40px;
}
.footer-left-heading h2{
	padding-top: 10px;
}
.footer-right-heading{
	padding-top: 40px;
}

.link-heading{
	padding-bottom: 5px;
}
.link-heading h5{
	color: rgba(255,255,255,.6);
    font-size: 16px;
        opacity: .6;
}

.footer-links a{
	padding: 10px 0px;
	color: #FFFFFF;
	opacity: .6;
}
.footer-contact{
	    list-style-type: none;
    margin-left: 0px;
    font-size: 14px;
    opacity: .6;
	color: #FFFFFF;
	opacity: .6;
}
.footer-contact li{
	padding: 10px 0px;
}
.footer-newsteller{
	    display: flex;
    margin-top: 20px;
}
.footer-newsteller-input{
	background: #fff;
    border: 1px solid #fafafa;
    border-radius: 4px 0px 0px 4px;
    height: 40px;
    padding: 0 15px;
    font-weight: 300;
    width: 100%;
}
.footer-newsteller .button{
	    width: 45px;
    border: none;
    color: #fff;
    background: #5d5a9e;
    border-radius: 0px 4px 4px 0px;
    height: 40px;

}
.footer-newsteller i{
	line-height: .6 !important;
}
.copyright-dividor{
	margin: 50px 0px 20px 0px;
}
.copyright p{
	font-size: 13px;
	color: rgba(255,255,255,.6);
	opacity: .6;
	padding-bottom: 20px;
	margin-bottom: 0px;
}
@media only screen and (max-width: 576px){
	iframe{
		width: 100%;
	}
	/*.header-navbar .list-item{
		display: none;
	}*/

	.main-heading h1{
		font-size: 40px;
	}
	.webify-heading{
		padding-left: 0px;
	}
	.wireframe-heading h1{
		font-size: 25px;
	}
	.product-heading h1{
		font-size: 25px;
	}
	.product-content{
		padding-left: 0px;
	}
	.our-work-heading h1{
		font-size: 25px;
	}
	.expert-heading {
		padding-left: 0px;
	}
	.funfact-item-wrapper{
		margin-bottom: 30px;
	}
	.newsteller-heading h1{
		font-size: 25px;
	}
	.empty-space{
		height: unset;
	}

	.newsteller-input{
		width: 30%;
	}
	.newsteller-btn{
		width: 60%;
		padding: 0 1.1em;
	}
	.footer-right-heading{
		text-align: center;
	}
	.footer-left-heading{
		text-align: center;
	}
	.form-input{
		margin-bottom: 60px;
	}

}
@media only screen and (max-width: 768px){
	iframe{
		width: 100%;
	}
/*	.header-navbar .list-item{
		display: none;
	}*/

	.main-heading h1{
		font-size: 40px;
	}
	.webify-heading{
		padding-left: 0px;
	}
	.wireframe-heading h1{
		font-size: 25px;
	}
	.product-heading h1{
		font-size: 25px;
	}
	.product-content{
		padding-left: 0px;
	}
	.funfact-item-wrapper{
		margin-bottom: 30px;
	}
	.footer-right-heading{
		text-align: center;
	}
	.footer-left-heading{
		text-align: center;
	}
	.form-input{
		margin-bottom: 60px;
	}
}
@media only screen and (max-width: 1024px){
	.header-container{
		margin: 5px 40px;
	}
	.container{
		margin: 0px 40px;
	}
	iframe{
		width: 100%;
	}


}
