*{
	box-sizing:border-box;
	margin: 0px;
	padding: 0px;
}
h1{
	font-size: 40px;
	margin-bottom: 0px;
}
p{
	color: #666666;
	font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
h4{
	font-size: 18px;
}

.top-bar{
	background-color: unset;
}
.top-bar ul{
	background-color: unset;
}
.logo-container .logo{
		max-height: 30px
}
.navbar-container{
	display: flex;
	
}
.header-menu{
	font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  
}
.header-menu a{
	color: #666666;
}

.button{
	margin-bottom: 0px;
  color: #5c6ac4;
  background-color: rgba(92,106,196,.1);
  border-color: transparent;
  border-radius: 25px;
  padding: 13px;
  height: 43px;
  width: 170px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}


.main-banner{
	padding-top: 50px;
}
.main-heading-container .main-heading .heading{
	margin-bottom: 0px;
}

.main-heading h1{
	font-size: 60px;
}
.main-heading-container p{
	margin-bottom: 40px;
	font-size: 20px;
	padding-right: 25px;
}
.main-heading-container .main-heading-btn{
	margin-bottom: 30px;
}
.main-heading-clients li{
	padding-right: 30px;
}
.webify-left-container .webify-service-container .service-block{
	padding: 40px 30px 35px;
	border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 30px;
}
.service-block-heading{
	margin-top: 20px;
}

.block-1:hover{
	background-color: #5752d0;
	color: #ffffff;
}
.block-1:hover p{
	color: #FFFFFF;
}
.block-1:hover .weekend-icon{
	color: #FFFFFF;

}
.block-2:hover{
	background-color: #de3618;
	color: #ffffff;
}
.block-2:hover p{
	color: #FFFFFF;
}
.block-2:hover .watch-icon{
	color: #FFFFFF;

}

.block-3:hover{
	background-color: #9c6ade;
	color: #ffffff;
}
.block-3:hover p{
	color: #FFFFFF;
}
.block-3:hover .timer-icon{
	color: #FFFFFF;

}
.block-4:hover{
	background-color: #47c1bf;
	color: #ffffff;
}
.block-4:hover p{
	color: #FFFFFF;
}
.block-4:hover .pizza-icon{
	color: #FFFFFF;

}
.webify-heading{
	padding-left: 30px;
}
.webify-heading p{
	font-size: 16px;
	margin-bottom: 30px;
}
.service-block-content{
	font-size: 14px;
}
.weekend-icon{
  padding: 12px;
  border-radius: 50px;
  background-color: rgba(87,82,208,.1);
  color: #5752d0;
  width: 48px;
  height: 48px;
}
.watch-icon{
	background: rgba(222,54,24,.1);
  color: #de3618;
  padding: 12px;
  border-radius: 50px;
  width: 48px;
  height: 48px;
}
.timer-icon{
	background: rgba(156,106,222,.1);
  color: #9c6ade;
  padding: 12px;
  border-radius: 50px;
  width: 48px;
  height: 48px;
}
.pizza-icon{
	background: rgba(71,193,191,.1);
  color: #47c1bf;
  padding: 12px;
  border-radius: 50px;
  width: 48px;
  height: 48px;
}

.wireframe{
		margin-top: 50px;
}
.wireframe-heading p{
	font-size: 18px;
}
.wireframe .wireframe-container{
	width: 100%;
}
.wireframe .wireframe-container .wireframe-heading{
	text-align: center;
}

.product .product-container .product-heading{
	margin-bottom: 40px;	
}
.product-heading p{
	font-size: 18px;
}

.product-content{
	padding-left: 30px;
}
.product-video-container iframe{
	width: 100%;
}
.mall-icon{
	color: #007ace;
 	background-color: rgba(0,122,206,.1);
  padding: 12px;
  border-radius: 50px;
  width: 48px;
  height: 48px;
}
.layers-icon{
	color: #50b83c;
 	background: rgba(80,184,60,.1);
  padding: 12px;
  border-radius: 50px;
  width: 48px;
  height: 48px;
}
.our-work-client-logo{
	width: 20%;
}
.client-sign{
	width: 20%;
}
.wrapper-logo{
	width: 20%;
}

@media only screen and (max-width: 576px){
	iframe{
		width: 100%;
	}
	/*.header-navbar .list-item{
		display: none;
	}*/

	.main-heading h1{
		font-size: 40px;
	}
	.webify-heading{
		padding-left: 0px;
	}
	.wireframe-heading h1{
		font-size: 25px;
	}
	.product-heading h1{
		font-size: 25px;
	}
	.product-content{
		padding-left: 0px;
	}

}
@media only screen and (max-width: 768px){
	iframe{
		width: 100%;
	}
/*	.header-navbar .list-item{
		display: none;
	}*/

	.main-heading h1{
		font-size: 40px;
	}
	.webify-heading{
		padding-left: 0px;
	}
	.wireframe-heading h1{
		font-size: 25px;
	}
	.product-heading h1{
		font-size: 25px;
	}
	.product-content{
		padding-left: 0px;
	}
}
@media only screen and (max-width: 1024px){
	.header-container{
		margin: 5px 40px;
	}
	.container{
		margin: 0px 40px;
	}
	iframe{
		width: 100%;
	}

}
